:host {
    display:block;
    background-color: rgb(255, 255, 255);
    width: 200px;
    border-radius: 7px;
    margin-bottom: 5px;
    margin-left: 5px;
    border: 1px solid #1e05ad;
    box-shadow: 10px 10px 10px rgb(146, 160, 250);
}
